
<div class="login-form-container">
  <div class="login-form">
    <h2>Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="mb-3">
        <label for="username">Username</label>
        <input
          id="username"
          type="text"
          formControlName="username"
          placeholder="Enter Username"
        />

        <div class="error"
          *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
          <div *ngIf="loginForm.get('username')?.errors?.['required']">
            Username is required
          </div>
          <div *ngIf="loginForm.get('username')?.errors?.['pattern']">
            Only letters and numbers allowed
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="Enter Password"
        />

        <div class="error"
          *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
          <div *ngIf="loginForm.get('password')?.errors?.['required']">
            Password is required
          </div>
          <div *ngIf="loginForm.get('password')?.errors?.['minlength']">
            Minimum 8 characters
          </div>
        </div>
      </div>

      <button type="submit">Login</button>

      <div class="success-message" *ngIf="successMessage">
        {{ successMessage }}
      </div>

      <div class="error-message" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

      <a routerLink="/auth/register" class="task-list">
        Don't have an account? Sign up
      </a>

    </form>
  </div>
</div>