<div class="form-container">
  <h2>Create Patient</h2>
  <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="fullName">Full Name:</label>
      <input type="text" id="fullName" formControlName="fullName" />
      <div class="error" *ngIf="patientForm.get('fullName')?.invalid && patientForm.get('fullName')?.touched">
        Full Name is required and must have at least 2 characters.
      </div>
    </div>

    <div class="form-group">
      <label for="dateOfBirth">Date of Birth:</label>
      <input type="date" id="dateOfBirth" formControlName="dateOfBirth" />
      <div class="error" *ngIf="patientForm.get('dateOfBirth')?.invalid && patientForm.get('dateOfBirth')?.touched">
        Date of Birth is required.
      </div>
    </div>

    <div class="form-group">
      <label for="contactNumber">Contact Number:</label>
      <input type="text" id="contactNumber" formControlName="contactNumber" />
      <div class="error" *ngIf="patientForm.get('contactNumber')?.invalid && patientForm.get('contactNumber')?.touched">
        Contact Number must be a 10-digit valid number.
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" />
      <div class="error" *ngIf="patientForm.get('email')?.invalid && patientForm.get('email')?.touched">
        Please provide a valid email address.
      </div>
    </div>

    <div class="form-group">
      <label for="address">Address:</label>
      <textarea id="address" formControlName="address"></textarea>
      <div class="error" *ngIf="patientForm.get('address')?.invalid && patientForm.get('address')?.touched">
        Address must have at least 5 characters.
      </div>
    </div>

    <div class="form-actions">
      <button type="submit" [disabled]="patientForm.invalid">Submit</button>
    </div>
    <div class="form-footer">
      <a routerLink="/mediconnect" class="link">Dashboard</a>
    </div>
  </form>

  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>